<html>
<head>
    <title>qwikbit</title>
    <link href='style.css' rel='stylesheet'/>
</head>
<body class="homepage">
<div class="hero">
   <%= render 'layouts/navigation' %>

    <div class="lead" style="margin-top:-620px;">
        <p class="tagline">
            sell your digital content. instantly.
        </p>

        <p class="description">
            Selling your digital content for Bitcoin has never been simpler. Payments are sent directly to your digital wallet, and purchased content is instantly made available to your customers.
        </p><br/><br/><br/>

        <div class="button" onclick="window.location = '/users/sign_up' ">
            GET STARTED
        </div>
    </div>
</div>
<div class="content" id="features">

    <div class="section">
        <div class="circle-left"> <img src="images/image01.png" /></div>
        <div class="featuretext">
            <h1>Zero Fees</h1>
            We're a little different from most marketplaces who charge to share ideas in the world. At qwikbit, we believe that the very best things in life are free, and that selling your digital goods online is no exception.

        </div>
    </div>


    <div class="section">


        <div class="circle-right"><img src="images/image02.png" /> </div>
        <div class="featuretext">
            <h1>Instant Delivery</h1>
            We believe that when customers are happy, you'll be happy too. So when you sell a product, we instantly deliver your content to the customer's inbox so that they can begin enjoying your content, and you can begin spending more time on things that matter.

        </div>
    </div>



    <div class="section">
        <div class="circle-left"> <img src="images/image03.png" /></div>
        <div class="featuretext">
            <h1>Powered By Coinbase</h1>
            We take payment protection seriously, which is why we're backed by the Coinbase API. You enjoy bank level security and immediate payment verification without having to worry about a thing.

        </div>
    </div>



</div>


