<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">

          <button type="button" class="close rightimage" data-dismiss="alert" aria-hidden="true">&times;</button>

          <%= content_tag :div, msg, :id => "flash_#{name}" %>

        </div>
        <div style="clear:both">&nbsp;</div>
    <% end %>
<% end %>
<!--
<% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
    <div style="clear:both">&nbsp;</div>
<% end %>
<% if alert %>
    <p class="alert alert-error"><%= alert %></p>
    <div style="clear:both">&nbsp;</div>
<% end %>
-->