<% if user_signed_in? %>



    <div class="headerwrapper">
      <div class="header">
        <img src="/images/logoblue.png"
             onclick="window.location = '/' "
        />

        <div class="login">
          <%= link_to destroy_user_session_path, :method => 'delete' do %>
              Log Out
          <% end %>
        </div>

        <div class="login">
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </div>

        <div class="login createlistinglink">
          <a href="/products/new">Create Listing</a>
        </div>

        <div class="login dashboardlink">
          <a href="/dashboard">Dashboard</a>
        </div>


         <div class="nav">
          <a href="/browse">Browse Marketplace</a>
        </div>
      </div>
      <div class="clearing"></div>
    </div>



<% else %>


    <div class="headerwrapper">
      <div class="header">
        <img src="/images/logoblue.png"
             onclick="window.location = '/' "
        />

        <div class="notlogin">
          <img width="10" height="15" src="/images/lock_icon_gray.png"/>
          <%= link_to "MERCHANT LOGIN", new_user_session_path %>
        </div>

        <div class="nav">
          <a href="/#features">Features</a>
          <a href="/browse">Browse Marketplace</a>
          <%= link_to "Create Account", new_user_registration_path %>
        </div>

      </div>
      <div class="clearing"></div>
    </div>



<% end %>
</div>
</nav>
